*{
   box-sizing: border-box;
   font-family: sans-serif;
}
.saidbar_all{
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    overflow: hidden;
    /* gap: 20px; */
}
.saidbar_row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: rgb(22, 140, 224); */
    background: linear-gradient(to left, rgb(126, 190, 237), rgb(22, 140, 224));
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh !important;
}

.saisbar_link a {
    color: black;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600px;
    

}

.saisbar_link a:hover {
    text-decoration: underline;
    color: rgb(206, 202, 202);
}



 h1 {
    text-align: center;
    padding: 10px 0;
    /* padding: 10px 0; */
    color: #fff;
}


ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration: none;
    transition: .3s linear;
}
 link h1 {
    transition: .3s linear;
 }

.link:hover h1{
    text-decoration: underline;
    color: rgb(206, 202, 202) !important;

}



  /* Saidbar.css */
/* Saidbar.css */

.all {
    margin-left: 0; /* Adjust as necessary */
    padding: 16px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card {
    width: calc(50% - 16px); /* Adjust width as needed */
    box-sizing: border-box;
  }
  
  
  
